name: Security scan (push)

on:
  push:
    branches: [ main ]

jobs:
  sast_sca_scan:
    uses: ./.github/workflows/reusable_workflow.yaml
    with:
      PROFILE: app
      SCA_scan: none
      SAST_scan: snyk
      IAC_scan: none
      CONTAINER_scan: none
      severity_threshold: medium
    secrets:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      Snyk_Org: ${{ secrets.SNYK_ORG }}
